services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: debt_calculator_dev
    volumes:
      - postgres_data1:/var/lib/postgresql/18/main

    tmpfs:
      - /tmp
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d debt_calculator_dev"]
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - -c
      - listen_addresses=*
      - -c
      - wal_level=logical

  electric:
    image: docker.io/electricsql/electric:latest
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/debt_calculator_dev?sslmode=disable
      # Not suitable for production. Only use insecure mode in development or if you've otherwise secured the Electric API.
      # See https://electric-sql.com/docs/guides/security
      ELECTRIC_INSECURE: true
    ports:
      - "4000:3000"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data1: